@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    width: 100%;
    margin: auto;
    font-family: 'Poppins' !important;
    width: 100%;
    background-color: #ffffff!important;
    background: url("../assets/mode-rockstar.png");
    background-position: center 0, 0 0, 0 0;
    background-repeat: repeat-x;
}
/* Home CSS */

.container {
    width: 90%;

}

.container-fluid {
    width: 80% !important;
}

/* NAV */
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgba(0, 0, 0, 0.9) !important;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bolder;
}

.main p {
    text-align: center;
    /* color: #6c757d !important; */
    color: burlywood;
}

strong {
    font-weight: bolder;
    text-decoration: underline;
}

.footer {
    text-align: center;
}
.link-after,
.nav-link::after,
.navbar-brand::after,
.nav-item.active::after {
    content: "";
    display: block;
    height: 0.15em;
    background: #1389e9
}

.nav-link::after,
.navbar-brand::after {
    width: 0;
    transition: width 0.35s
}

.nav-link:hover::after,
.navbar-brand:hover::after {
    width: 100%
}

.nav-item.active {
    font-weight: bold
}

.nav-item.active::after {
    width: 100% !important
}

.navbar-brand h5>b>i {
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.navbar-brand h5>b>i:hover {

    text-shadow: none;
}

.active::after {
    content: "";
    display: block;
    height: 0.15em;
    background: #0f69f1;
}

.credits {
    text-align: center;
    color: #6c757d !important;
    font-size: 13px;
    width: 90%;
    margin: auto;
}

.credits strong {
    text-decoration: none;
}

.link a {
    margin: 15px;
    color: #6c757d;

}

.link a:hover {

    color: wheat;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: none !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: rgb(8, 8, 8) !important;
}

.navbar-themed .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.main img {
    display: block;
    margin: 0px auto;
    border-radius: 100%;
    width: 20%;
}
