@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    font-family: 'Poppins' !important;
    background-color: #ffffff !important;
}

/* NAV */
.navbar-themed .navbar-nav .nav-link {
    color: black !important;
}

.nav-link::after,
.navbar-brand::after {
    width: 0;
    transition: width 0.35s
}

.nav-link:hover::after,
.navbar-brand:hover::after {
    width: 100%
}

.link-after,
.nav-link::after,
.navbar-brand::after,
.nav-item.active::after {
    content: "";
    display: block;
    height: 0.15em;
    background: #02faa3;
}

.nav-item.active {
    font-weight: bold
}

.nav-item.active::after {
    width: 100% !important
}

/* Avatar */

.main img {
    display: block;
    margin: 0px auto;
    border-radius: 100%;
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .main img {
        width: 100% !important;
    }
}

.main h1 {
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

/* Features */

.main .features {
    text-align: center;
}

.main .features a {
    font-size: 20px;
    color: black;
    margin: 10px;
}

.main .features a:hover {
    color: #FF7709;

}

/* Newspaper */

.project.card {
    border-radius: 15px;
    text-decoration: none !important;
    margin: 10px auto;
    transition: transform 400ms;
}

.project.card .card-img-top {
    border-radius: 15px 15px 0 0;
}

.project.card:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
}

/* Grab a Coffe */

.card-body h5 {

    color: #343a40;
    font-weight: normal;
}

.card-body p {
    color: #343a40;
    font-weight: 100;
}

.cappuccino img {
    width: 100%;
}

.card-body span {
    font-weight: 100;
}

.date {
    color: #8a2be2a1;
    font-weight: 100;
}

/* Mode Rockstar */

.bakery {
    display: flex;
}

.column_lef {
    width: 50%;
}

.column_rig {
    width: 50%;
}

.onion {
    display: flex;
    width: 90%;
}

.loading_1 {
    width: 90%;
    background: red;
    padding: 10px;
}

.loading_2 {
    padding: 10px;
    width: 10%;
    background: black;
}

/* Time Line */
.time_line {
    display: flex;
}

.line {
    width: 10px;
    padding: 10px;
    background: blue;
    
}
.div {
    width: 50%;

    padding: 10px;
}
.titles {
    width: 50%;
    
    margin: 0px 15px;
}
.boll {
    padding: 30px;
    background-color: #007bff;
    border-radius: 100%;
    height: 10px;
    
}
.cblol {
    background-color: #007bff;
    padding: 8px;
    width: 10px;
    height: 100px;
    margin: auto;
}
.center {
    background: white;
    padding: 10px;
    position: absolute;
    margin: 20px;
    border-radius: 20px;
}