@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    width: 100%;
    margin: auto;
    font-family: 'Poppins' !important;
    width: 100%;
    background-color: #ffffff!important;
    background: url("../assets/mode-rockstar.png");
    background-position: center 0, 0 0, 0 0;
    background-repeat: repeat-x;
}

/* Initial CSS */

.container {
    width: 90%;

}

.container-fluid {
    width: 80% !important;
}

/* NAV */
.navbar-themed .navbar-nav .nav-link {
    color: black!important;
}

.nav-link::after,
.navbar-brand::after {
    width: 0;
    transition: width 0.35s
}

.nav-link:hover::after,
.navbar-brand:hover::after {
    width: 100%
}

.link-after,
.nav-link::after,
.navbar-brand::after,
.nav-item.active::after {
    content: "";
    display: block;
    height: 0.15em;
    background: #1389e9
}

/* Avatar */

.main img {
    display: block;
    margin: 0px auto;
    border-radius: 100%;
    width: 20%;
}

.main h1 {
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.main .features {
 text-align: center;
}
.main .features a {
 font-size: 20px;
 color: black;
 margin: 10px;
}

/* By */
.main .coffe {
    text-align: center;
}