@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    font-family: 'Poppins' !important;
    background-color: #17191a !important;
    width: 100%;
    height: 1200px;
}
.navbar-brand h5 > b > i {
    font-size: 60px;
}
.navbar-brand h5 > b > i:hover {
    
    text-shadow: 0px 0px 8px #f8f9fa;
}
.active::after {
    content: "";
    display: block;
    height: 0.15em;
    background: #007bff;
}

.container {
    width: 90%;

}

.container-fluid {
    width: 80% !important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bolder;
}

.main p {
    text-align: center;
    color: #6c757d !important;
}

strong {
    font-weight: bolder;
    text-decoration: underline;
}

.footer {
    text-align: center;
}

.credits {
    text-align: center;
    color: #6c757d !important;
    font-size: 13px;
}

.credits strong {
    text-decoration: none;
}

.link a {
    margin: 15px;
    color: #6c757d;

}

.link a:hover {

    color: wheat;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: none !important;
}


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: white !important;
}

.navbar-themed .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.main img {
    display: block;
    margin: 0px auto;
    border-radius: 100%;
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .main img {
        width: 50% !important;
    }

    .text-themed {
        color: rgba(255, 255, 255, 0.9);
    }
    .navbar-brand h5 > b > i {
        font-size: 60px;
    }
    .nav-link {
        text-align: center;
        display: block;
        padding: 0.7rem 1rem;
    }

}


/* Blog */
.card {

    background-color: #fff0 !important;
    border: none !important;
}

.contend {
    width: 50%;
    max-width: 320px;
    background: #242526;
    text-align: center;
    border: 1px slid;
    border: 1px solid white;
    border-radius: 10px;
   
}

.contend .text h1 {
    color: #FFFFFFE6;
    font-size: 20px;
    letter-spacing: 2px;
}

.contend p {
    font-size: 16px;
    color: #FFFFFFE6;
}

.contend img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.text {
    padding: 15px;
    text-align: left;
}

.text h1 {
    font-size: 30px;
}

.contend a {
    font-size: 12px;
    color: wheat;
}

.contend a:hover {
    text-decoration: none;
    color: wheat;
}

.contend a>h1 {
    font-size: 20px;
    color: wheat;
    color: wheat;
}

.contend:hover {
    opacity: 80%;
}

.class-btn {
    border: 1px solid;
    background: transparent;
    color: #007bff;
    border-radius: 10px;
    padding: 0px 10px 2px 12px;
    margin: 3px;
    border-color: #007bff !important;
}


/* Articles */
.articles .text-articles .title h1 {
    color: white;
    font-weight: 900;
}

.articles .text-articles p {
    color: white;
}

.articles img {
    width: 100%;
}

.text-articles {
    width: 80%;
    margin: auto;
}

.text p {
    font-size: 16px;
}

.date-post {
    font-size: 20px;
    color: wheat;
}

.date-post>strong {

    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid #545b62 !important;
}
.linux {
    width: 30%;
    height: 80px;
    border-radius: 5px;
    background: #282a36;
}
.linux .text {
    
        color: #60cce2;
    }
.circles {
display: flex;
}
.ball {
    background: #ff5f56;
    padding: 7px;
    width: 0%;
    border-radius: 100%;
    margin: 5px;
    border: none; 
}

@media only screen and (max-width: 768px) {
    .articles .text-articles .title h1 {
        font-size: 20px;
    }

    .text-articles {
        width: 90%;
    }

    .contend {
        width: 100%;
    }
    .linux {
        width: 100%;
    }
}

/* Skills */
.center {
    color: #FFFFFFE6;
}
.center .about h1 {
    font-weight: bolder;
}
.center .text-center strong {
    text-decoration: none;
}

.center .text-center p {
    font-size: 16px;
    text-align: justify;
}

.display {
    height: 700px;
}

.skills_left {
    width: 40%;
    float: left;
}

.skills_right {
    float: right;
    width: 40%;

}

.skills_right .title_column {
    text-align: end;
}


.info {
    display: inline-flex;
}

.title_column {
    font-size: 30px;
    color: white;
    height: 60px;
}

.porcents {
    float: right;
}

.column {
    height: 50px;
}

.ninety .front {
    padding: 4px;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
    background-color: #dc3545 !important;
    border: none;
}

.ninety .background {

    background-color: #343a40;
    width: 10%;
    padding: 4px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}



.name_skill {
    display: flex;
}

.name_left {
    font-size: 16px;
    color: #FFFFFFE6;
}

.name_right {
    color: #6c757d !important;
}

.name_left {
    width: 100%;
}

.name_skill h1 {
    font-size: 16px;
    color: #FFFFFFE6;
}

.name_skill strong {
    font-size: 16px;
    color: #FFFFFFE6;
}

.front .bootstrap {
    background-color: #7c12f9;
}

.ninetyfive .front {
    padding: 1px;
    width: 95%;
    border-radius: 10px 0px 0px 10px;
    background-color: #17a2b8 !important;
    border: none;
}

.ninetyfive .background {

    background-color: #343a40;
    width: 5%;
    padding: 1px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.eighty .front {
    padding: 1px;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
    background-color: #17a2b8 !important;
    border: none;
}

.eighty .background {
    background-color: #343a40;
    width: 30%;
    padding: 1px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
.time-line {
    width: 90%;
margin: auto;
background-color: #343a40;
    
    border-left: 5px solid #007bff;
}
.time-line .col {
    padding: 50px;
}
.ball-time-line {
    position: absolute;
    margin-left: -80px;

}

.one {
    padding: 15px;
    background: #007bff;
    width: 50px;
    border-radius: 100%;

}
.two {
    background-color: #17191a;
    padding: 10px;
    width: 10px;
    border-radius: 100%;
}
.time-line .title {
font-size: 32px;
color: #FFFFFFE6;
}
.time-line .year {
    color: #6c757d;
    font-size: 16px;
}
.time-line .text-timeline {
    font-size: 16px;
    color: #FFFFFFE6;
}
@media only screen and (max-width: 768px) {
    .skills_left {
        width: 100%;
    }

    .skills_right {
        width: 100% !important;
    }
}