@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    font-family: 'Poppins' !important;
    background-color: #17191a !important;
    width: 100%;
    height: 1200px;
}

.navbar-brand h5>b>i {
    font-size: 60px;
}

.navbar-brand h5>b>i:hover {

    text-shadow: 0px 0px 8px #f8f9fa;
}

.active::after {
    content: "";
    display: block;
    height: 0.15em;
    background: #007bff;
}

.container {
    width: 90%;

}

.container-fluid {
    width: 80% !important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bolder;
}

.main p {
    text-align: center;
    color: #6c757d !important;
}

strong {
    font-weight: bolder;
    text-decoration: underline;
}

.footer {
    text-align: center;
}

.credits {
    text-align: center;
    color: #6c757d !important;
    font-size: 13px;
    width: 50%;
    margin: auto;
}

.credits strong {
    text-decoration: none;
}

.link a {
    margin: 15px;
    color: #6c757d;

}

.link a:hover {

    color: wheat;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: none !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: white !important;
}

.navbar-themed .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.main img {
    display: block;
    margin: 0px auto;
    border-radius: 100%;
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .main img {
        width: 50% !important;
    }

    .text-themed {
        color: rgba(255, 255, 255, 0.9);
    }

    .navbar-brand h5>b>i {
        font-size: 60px;
    }

    .nav-link {
        text-align: center;
        display: block;
        padding: 1rem!important;
    }

}


/* Blog */
.card {

    background-color: #fff0 !important;
    border: none !important;
}

.contend {
    width: 50%;
    max-width: 320px;
    background: #242526;
    text-align: center;
    border: 1px slid;
    border: 1px solid white;
    border-radius: 10px;

}

.contend .text h1 {
    color: #FFFFFFE6;
    font-size: 20px;
    letter-spacing: 2px;
}

.contend p {
    font-size: 16px;
    color: #FFFFFFE6;
}

.contend img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.text {
    padding: 15px;
    text-align: left;
}

.text h1 {
    font-size: 30px;
}

.contend a {
    font-size: 12px;
    color: wheat;
}

.contend a:hover {
    text-decoration: none;
    color: wheat;
}

.contend a>h1 {
    font-size: 20px;
    color: wheat;
    color: wheat;
}

.contend:hover {
    opacity: 80%;
}

.class-btn {
    border: 1px solid;
    background: transparent;
    color: #007bff;
    border-radius: 10px;
    padding: 0px 10px 2px 12px;
    margin: 3px;
    border-color: #007bff !important;
}


/* Articles */
.articles .text-articles .title h1 {
    color: white;
    font-weight: 900;
}

.articles .text-articles p {
    color: white;
}

.articles img {
    width: 100%;
}

.text-articles {
    width: 80%;
    margin: auto;
}

.text p {
    font-size: 16px;
}

.date-post {
    font-size: 20px;
    color: wheat;
}

.date-post>strong {

    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid #545b62 !important;
}

.linux {
    width: 30%;
    height: 80px;
    border-radius: 5px;
    background: #282a36;
}

.linux .text {

    color: #60cce2;
}

.circles {
    display: flex;
}

.ball {
    background: #ff5f56;
    padding: 7px;
    width: 0%;
    border-radius: 100%;
    margin: 5px;
    border: none;
}

@media only screen and (max-width: 768px) {
    .articles .text-articles .title h1 {
        font-size: 20px;
    }

    .text-articles {
        width: 90%;
    }

    .contend {
        width: 100%;
    }

    .linux {
        width: 100%;
    }
}

/* Skills */
.center {
    color: #FFFFFFE6;
}

.center .about h1 {
    font-weight: bolder;
}

.center .text-center strong {
    text-decoration: none;
}

.center .text-center p {
    font-size: 16px;
    text-align: justify;
}

.display {
    height: 500px;
}

.skills_left {
    width: 40%;
    float: left;
}

.skills_right {
    float: right;
    width: 40%;

}

.skills_right .title_column {
    text-align: end;
}


.info {
    display: inline-flex;
}

.title_column {
    font-size: 30px;
    color: white;
    height: 60px;
}

.porcents {
    float: right;
}

.column {
    height: 50px;
}

.ninety .front {
    padding: 4px;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
    background-color: #dc3545 !important;
    border: none;
}

.ninety .background {

    background-color: #343a40;
    width: 10%;
    padding: 4px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}



.name_skill {
    display: flex;
}

.name_left {
    font-size: 16px;
    color: #FFFFFFE6;
}

.name_right {
    color: #6c757d !important;
}

.name_left {
    width: 100%;
}

.name_skill h1 {
    font-size: 16px;
    color: #FFFFFFE6;
}

.name_skill strong {
    font-size: 16px;
    color: #FFFFFFE6;
}

.front .bootstrap {
    background-color: #7c12f9;
}

.ninetyfive .front {
    padding: 1px;
    width: 95%;
    border-radius: 10px 0px 0px 10px;
    background-color: #17a2b8 !important;
    border: none;
}

.ninetyfive .background {

    background-color: #343a40;
    width: 5%;
    padding: 1px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.eighty .front {
    padding: 1px;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
    background-color: #17a2b8 !important;
    border: none;
}

.eighty .background {
    background-color: #343a40;
    width: 30%;
    padding: 1px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

/* Time Line */
.time-line {
    width: 100%;
    margin: auto;
    background-color: #343a40;
    border-radius: 0px 40px 40px 0px;
    border-left: 5px solid #007bff;
}

.time-line .col {
    padding: 50px;
}

.ball-time-line {
    position: absolute;
    margin-left: -70px;
    margin-top: 10px;

}

.one {
    padding: 5px;
    background: #007bff;

    border-radius: 100%;

}

.two {
    background-color: #17191a;
    padding: 10px;
    width: 10px;
    border-radius: 100%;
}

.time-line .title {
    font-size: 32px;
    color: #FFFFFFE6;
}

.time-line .year {
    color: #6c757d;
    font-size: 16px;
}

.time-line .text-timeline {
    font-size: 16px;
    color: #FFFFFFE6;
}

@media only screen and (max-width: 768px) {
    .skills_left {
        width: 100%;
    }

    .skills_right {
        width: 100% !important;
    }

    .display {
        height: 700px;
    }

    .time-line .col {
        padding: 20px;
    }

    .ball-time-line {

        margin-left: -40px;
        margin-top: 10px;

    }
}

/*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/
.m-p-g {
    max-width: 100%;
    margin: 0 auto;
  }
  .m-p-g__thumbs-img {
    margin: 0;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
    filter: brightness(100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: opacity, transform;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__thumbs-img.active {
    z-index: 50;
  }
  .m-p-g__thumbs-img.layout-completed {
    opacity: 1;
  }
  .m-p-g__thumbs-img.hide {
    opacity: 0;
  }
  .m-p-g__thumbs-img:hover {
    filter: brightness(110%);
  }
  .m-p-g__fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
    will-change: background, visibility;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .m-p-g__fullscreen.active {
    transition: background 0.25s ease-out, visibility 0.01s 0s linear;
    visibility: visible;
    background: rgba(0, 0, 0, 0.95);
  }
  .m-p-g__fullscreen-img {
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    visibility: hidden;
    will-change: visibility;
    transition: opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.active {
    visibility: visible;
    opacity: 1 !important;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.almost-active {
    opacity: 0;
    transform: translate3d(0, 0, 0) !important;
  }
  .m-p-g__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 20vh;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__controls.active {
    opacity: 1;
    visibility: visible;
  }
  .m-p-g__controls-close, .m-p-g__controls-arrow {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background: none;
  }
  .m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
    outline: none;
  }
  .m-p-g__controls-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  .m-p-g__controls-arrow:hover {
    opacity: 1;
  }
  .m-p-g__controls-arrow--prev {
    left: 0;
    padding-left: 3vw;
    justify-content: flex-start;
  }
  .m-p-g__controls-arrow--next {
    right: 0;
    padding-right: 3vw;
    justify-content: flex-end;
  }
  .m-p-g__controls-close {
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 5;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .m-p-g__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    transition: all 0.25s ease-out;
  }
  .m-p-g__btn:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .m-p-g__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    color: grey;
  }
  .m-p-g__alertBox h2 {
    color: red;
  }
  
  /* DEMO */
  body {
    background: #fefefe;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: "Roboto Mono";
  }
  
  h2 {
    font-weight: 300;
    margin: 4vh 4vw;
    letter-spacing: 3px;
    color: grey;
    text-transform: uppercase;
  }
  
  .demo-btn {
    display: inline-block;
    margin: 0 2.5px 4vh 2.5px;
    text-decoration: none;
    color: grey;
    padding: 15px;
    line-height: 1;
    min-width: 140px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }
  
  .demo-btn:hover {
    background: rgba(0, 0, 0, 0.12);
  }
  .galerry_w {

  }
  @media (max-width: 640px) {
    .demo-btn {
      min-width: 0;
      font-size: 14px;
    }
  }